@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  padding-top: 26px;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html.ready body {
  transition-property: background-color, color;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

html:not(.ready) body {
  opacity: 0;
}

html.ready body {
  opacity: 1;
  transition: opacity 0.3s ease-in, background-color 0.8s ease-in-out,
    color 0.8s ease-in-out;
}

html.ready {
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}

.react-photo-album .progressive-image {
  border-radius: 0.5rem;
  transition: transform 0.4s ease, filter 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
  filter: brightness(100%);
}

@media (hover: hover) and (pointer: fine) {
  .react-photo-album .progressive-image:hover {
    transform: scale(1.05);
    filter: brightness(105%);
    box-shadow: 0 4px 15px rgba(159, 62, 255, 0.8),
      0 0 30px rgba(192, 132, 252, 0.5), 0 0 50px rgba(159, 62, 255, 0.3);
  }

  html.dark .react-photo-album .progressive-image:hover {
    filter: brightness(90%);
    box-shadow: 0 8px 20px rgba(192, 132, 252, 0.9),
      0 0 30px rgba(159, 62, 255, 0.6);
  }
}

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideDown {
  animation: fadeSlideDown 0.3s ease forwards;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px #c084fc, 0 0 10px #c084fc, 0 0 15px #c084fc;
  }
  50% {
    box-shadow: 0 0 10px #c084fc, 0 0 20px #c084fc, 0 0 25px #c084fc;
  }
}

.animate-glow {
  animation: glow 2s ease-in-out infinite;
}
